spec/test_xsd_unbounded/xsd-0.xsd

<?xml version='1.0' encoding='UTF-8'?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1 (branches/2.1-6844; 2011-07-29T12:07:24+0000) JAXWS-RI/2.2.5 JAXWS/2.2. --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:Rq1="http://ws.unisoft/FNSZDL/Rq1" xmlns:Rs1="http://ws.unisoft/FNSZDL/Rs1" xmlns:tns="http://smev.gosuslugi.ru/rev110801" targetNamespace="http://smev.gosuslugi.ru/rev110801" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- includes -->
	<xs:include schemaLocation="xsd-0-0.xsd"/>
	<!-- imports -->
	<xs:import namespace="http://ws.unisoft/FNSZDL/Rq1" schemaLocation="xsd-0-1.xsd"/>
	<xs:import namespace="http://ws.unisoft/FNSZDL/Rs1" schemaLocation="xsd-0-2.xsd"/>
	<!-- types -->
	<xs:complexType name="TMessageData_Rq1">
		<xs:complexContent>
			<xs:extension base="tns:TMessageData">
				<xs:sequence>
					<xs:element name="AppData" minOccurs="0">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="tns:TAppData">
									<xs:sequence>
										<xs:element ref="Rq1:Документ"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="AppDocument" type="tns:TAppDocument" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TMessageData_Rs1">
		<xs:complexContent>
			<xs:extension base="tns:TMessageData">
				<xs:sequence>
					<xs:element name="AppData" minOccurs="0">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="tns:TAppData">
									<xs:sequence>
										<xs:element ref="Rs1:Документ"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="AppDocument" type="tns:TAppDocument" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SendRequestRq">
		<xs:complexContent>
			<xs:extension base="tns:TRoot">
				<xs:sequence>
					<xs:element name="MessageData" type="tns:TMessageData_Rq1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SendRequestRs">
		<xs:complexContent>
			<xs:extension base="tns:TRoot">
				<xs:sequence>
					<xs:element name="MessageData" type="tns:TMessageData_Rs1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>