spec/test_xsd_2.3/xsd-0-3.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1 (branches/2.1-6844; 2011-07-29T12:07:24+0000) JAXWS-RI/2.2.5 JAXWS/2.2. --><!-- edited with XMLSpy v2006 rel. 3 U (http://www.altova.com) by В. Г. Бессалый (GNIVC FNS RF) --><!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by Home (Home) --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:doc="urn:exch:document:1.0" xmlns:tns="http://ws.unisoft/FNSZDL/Rq2" targetNamespace="http://ws.unisoft/FNSZDL/Rq2" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="Документ">
		<xs:annotation>
			<xs:documentation>Повторный запрос сведений о наличии (отсутствии) задолженности </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="ВерсФорм" use="required">
				<xs:annotation>
					<xs:documentation>Версия формата</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="5"/>
						<xs:enumeration value="4.02"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ИдЗапросФ" use="required">
				<xs:annotation>
					<xs:documentation>Идентификатор запроса, сформированный ФНС</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="36"/>
						<xs:pattern value="[0-9]+"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>